.header {
  background-color: #242526;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.leftHeader {
  display: flex;
  text-align: left;
}

.searchBox {
  border-radius: 30px;
  background: #3A3B3C;
  padding: 20px; 
  width: 250px;
  height: 50px;
  border: 0px;
}

.middleHeader {
  text-align: center;
}

.rightHeader {
  text-align: end;
}

.App-logo {
  height: 50px;
  margin-right: 10px;
}
